---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us | [Your Library Name]">
  <h1>Contact The [Your Organization]</h1>
  <p>If you have any questions about the [Your Library Name], our content, or [Your Organization]'s work, please feel free to reach out to us.</p>
  <ul>
    <li><strong>General Inquiries & Support:</strong> <a href="mailto:admin@yourdomain.com">admin@yourdomain.com</a></li>
  </ul>
  <p>We aim to respond to all inquiries as promptly as possible.</p>
</Layout>
